body{
    background-color: maroon;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
 
}
div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}